<!DOCTYPE html>
< lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="main.css" />
  <title>Info Page</title>
</head>

<>
<h1>Info Page</h1>
<nav>
  <a href="/">welcome</a> | <a href="nouns">nouns</a> |
  <a href="books">books</a> | <a href="translations">translations</a> |
  <a href="landscape-photos">landscape photos</a> |
  <a href="jobs">jobs</a>
</nav>
<hr />
